@charset "UTF-8";
.wooco-wrap {
  display: inline-block;
  width: 100%;
}

.wooco-wrap .wooco-text, .wooco-wrap .wooco_components {
  margin: 0 0 15px 0;
}

.wooco-wrap .wooco-text {
  white-space: pre-line;
}

.wooco-wrap .wooco-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wooco-wrap .wooco-summary .wooco-total {
  flex-grow: 1;
}

.wooco_components .wooco_component {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.wooco_components .wooco_component.wooco_component_layout_list, .wooco_components .wooco_component.wooco_component_layout_grid, .wooco_components .wooco_component.wooco_component_layout_grid_2, .wooco_components .wooco_component.wooco_component_layout_grid_3, .wooco_components .wooco_component.wooco_component_layout_grid_4 {
  border-bottom: none;
  padding-bottom: 0;
}
.wooco_components .wooco_component.wooco_component_required:not(.wooco_component_option_none_required).wooco_component_has_1 .dd-container .dd-select, .wooco_components .wooco_component.wooco_component_required:not(.wooco_component_option_none_required).wooco_component_has_1 .select2 {
  pointer-events: none;
}
.wooco_components .wooco_component.wooco_component_required:not(.wooco_component_option_none_required).wooco_component_has_1 .dd-container .dd-select .dd-pointer, .wooco_components .wooco_component.wooco_component_required:not(.wooco_component_option_none_required).wooco_component_has_1 .select2 .select2-selection__arrow {
  display: none;
}
.wooco_components .wooco_component.wooco_component_required .wooco_component_name:after {
  content: " *";
  color: #ff0000;
}
.wooco_components .wooco_component .wooco_component_name {
  font-weight: 700;
}

.wooco_component_product {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
}

.wooco_component_product_info {
  flex-grow: 1;
}

.wooco_component_product_description {
  font-size: 14px;
}

.wooco_component_product_description > span {
  display: inline-block;
  margin-right: 10px;
}

.wooco_component_product_description .stock {
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wooco_component_product > div {
  padding-right: 5px;
  padding-left: 5px;
}

body.woocommerce-no-js .wooco-wrap + form.cart {
  display: none;
}

.wooco-alert {
  padding: 6px 10px 6px 14px;
  border-left: 4px solid #222;
  background-color: #eeeeee;
  font-size: 14px;
}

.wooco-disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.wooco_component_product .wooco_component_product_qty {
  padding-left: 10px;
}

.wooco_component_product .wooco_component_product_qty input {
  width: 40px;
  text-align: center;
  margin: 0;
  padding: 0 5px;
  height: 40px;
  line-height: 38px;
  box-shadow: none;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ddd;
  background-color: #fff;
  -moz-appearance: textfield;
}

.wooco_component_product .wooco_component_product_qty input::-webkit-outer-spin-button, .wooco_component_product .wooco_component_product_qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wooco_component_product_selection {
  display: flex;
  width: 100%;
  align-items: center;
  flex-grow: 1;
}

.wooco_component_product_selection > a {
  margin-left: 10px;
  margin-right: 10px;
}

.wooco_component_product_selection .dd-select {
  background-color: #ffffff !important;
}

.wooco_component_product_selection .dd-options {
  max-height: 360px;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.wooco_component_product_selection .dd-options li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.wooco_component_product_selection .dd-option-image, .wooco_component_product_selection .dd-selected-image {
  max-width: 42px;
  border-radius: 3px;
}

.wooco_component_product_selection .dd-selected-text, .wooco_component_product_selection .dd-option-text {
  font-size: 14px;
  font-weight: 600;
  line-height: inherit !important;
  color: #6d6d6d;
  display: block;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.wooco_component_product_selection .dd-desc, .wooco_component_product_selection .dd-desc * {
  white-space: break-spaces;
}

.wooco_component_product_selection .dd-desc > span {
  margin-right: 10px;
}

.wooco_component_product_selection .dd-desc .stock {
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
}

.wooco_component_product_selection .dd-option.dd-option-without-desc, .wooco_component_product_selection .dd-selected.dd-option-without-desc {
  display: flex;
  align-items: center;
}

.wooco_component_product_selection .dd-option.dd-option-without-desc label, .wooco_component_product_selection .dd-selected.dd-option-without-desc label {
  flex-grow: 1;
}

.wooco_component_product_selection .dd-option.dd-option-disabled, .wooco_component_product_selection .dd-selected.dd-option-disabled {
  pointer-events: none !important;
  opacity: 0.5;
}

.wooco_component_product_image {
  width: 50px;
  flex: 0 0 50px;
}

.wooco_component_product_image img {
  width: 100%;
  height: auto;
}

.wooco_component_product_name {
  text-align: left;
  flex-grow: 1;
}

.wooco_component_product_link {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/open.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.wooco_component_product_availability .stock {
  margin: 0 !important;
  padding: 0 !important;
}

.wooco-item-child .product-price .amount, .wooco-item-child .product-price .tax_label,
.wooco-item-child .product-subtotal .amount, .wooco-item-child .product-subtotal .tax_label,
.wooco-item-child .product-total .amount, .wooco-item-child .product-total .tax_label {
  opacity: 0.3;
}

.wooco-qty-wrap, .wooco-qty-input {
  display: flex;
  align-items: center;
}

.wooco-qty-wrap .quantity {
  margin: 0;
}

.wooco-minus, .wooco-plus {
  display: inline-block;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  background-color: #fefefe;
  border: 1px solid #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wooco-minus:hover, .wooco-plus:hover {
  background-color: #f0f0f0;
}

/* Select2 */
.select2-dropdown.wpc-select2-dropdown {
  border: 1px solid #aaa;
  border-radius: 4px;
}

.wpc-select2-dropdown ul li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.wpc-select2-dropdown ul li .image {
  width: 40px;
  flex: 0 0 40px;
  margin-right: 10px;
}

.wpc-select2-dropdown ul li .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wpc-select2-dropdown ul li .info .desc {
  font-size: 14px;
}

.wpc-select2-dropdown ul li .info .desc > span {
  margin-right: 10px;
}

.wpc-select2-dropdown ul li .info .stock {
  display: inline-block !important;
  margin: 0 !important;
  padding: 0 !important;
}

.select2-container--open .wpc-select2-dropdown.select2-dropdown--below {
  border-top: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Grid */
.wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_link, .wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_image, .wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_availability, .wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_price {
  display: none !important;
}

.wooco_component_product_selection_grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 14px;
}

.wooco_component_product_selection_grid_item {
  -webkit-tap-highlight-color: transparent;
}

.wooco_component_product_selection_grid_item_image {
  margin-bottom: 10px;
}

.wooco_component_product_selection_grid_item_name {
  font-weight: 700;
}

.wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
  width: calc(33.3333333333% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wooco_component_layout_grid_2 .wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
  width: calc(50% - 20px);
}

.wooco_component_layout_grid_3 .wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
  width: calc(33.3333333333% - 20px);
}

.wooco_component_layout_grid_4 .wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
  width: calc(25% - 20px);
}

.wooco_component_product_selection_grid_item.wooco_item_selected {
  border-color: green;
}

.wooco_component_product_selection_grid_item:before {
  content: "✓";
  color: #ffffff;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #eeeeee;
  text-align: center;
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-image: initial;
  box-sizing: border-box;
}

.wooco_component_product_selection_grid_item.wooco_item_selected:before {
  color: #ffffff;
  background-color: green;
}

.wooco_component_product_selection_grid_item[data-purchasable=no] {
  pointer-events: none;
  opacity: 0.5;
}

.wooco_component_product_selection_grid_item_desc p {
  margin-bottom: 0;
}

.wooco_component_product_selection_grid_item_qty {
  margin-top: 10px;
  justify-content: center;
  opacity: 0.5;
  pointer-events: none;
}

.wooco_component_product_selection_grid_item_image img {
  margin: 0 auto;
}

.wooco_component_product_selection_grid_item.wooco_item_selected .wooco_component_product_selection_grid_item_qty {
  opacity: 1;
  pointer-events: auto;
}

.wooco_component_product_selection_grid_item_link {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #eeeeee;
  background-image: url("../images/open.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 0;
  z-index: 9;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-image: initial;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.wooco_component_product_selection_grid_item:hover .wooco_component_product_selection_grid_item_link, .wooco_component_product_selection_grid_item.wooco_item_selected .wooco_component_product_selection_grid_item_link {
  opacity: 1;
  visibility: visible;
}

.wooco_component_multiple .wooco_component_product_selection_grid_item:before {
  border-radius: 2px;
}

/* List */
.wooco_component_layout_list .wooco_component_product_link {
  display: none !important;
}

.wooco_component_product_selection_list {
  width: 100%;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 5px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item:hover {
  border-color: #999999;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item[data-purchasable=no] {
  pointer-events: none;
  opacity: 0.5;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item.wooco_item_selected {
  border-color: green;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item.wooco_item_selected .wooco_component_product_selection_list_item_choose span:before {
  color: #ffffff;
  background-color: green;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item > div {
  padding-left: 5px;
  padding-right: 5px;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_choose {
  width: 38px;
  flex: 0 0 38px;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_choose span:before {
  content: "✓";
  color: #ffffff;
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #eeeeee;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-image: initial;
  box-sizing: border-box;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_image {
  width: 50px;
  flex: 0 0 50px;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_info {
  flex-grow: 1;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_info .wooco_component_product_selection_list_item_name {
  font-weight: 700;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_info .wooco_component_product_selection_list_item_desc > span {
  display: inline-block;
  margin-right: 10px;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_info .wooco_component_product_selection_list_item_desc p {
  margin-bottom: 0;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_link {
  line-height: 1;
}
.wooco_component_product_selection_list .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_link a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #eeeeee;
  background-image: url("../images/open.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: 0;
  z-index: 9;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-image: initial;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
}

.wooco_component_multiple .wooco_component_product_selection_list_item .wooco_component_product_selection_list_item_choose span:before {
  border-radius: 4px;
}

/* RTL */
body.rtl .wooco_component_product_selection .dd-option-image, body.rtl .wooco_component_product_selection .dd-selected-image {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

body.rtl .wooco_component_product_selection .dd-pointer {
  right: auto;
  left: 10px;
}

body.rtl .wpc-select2-dropdown ul li .image {
  margin-right: 0;
  margin-left: 10px;
}

.wooco-cart-item-edit:before {
  content: "✎";
  display: inline-block;
  margin-right: 5px;
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 479px) {
  .wooco_component[class*=wooco_component_layout_grid_] .wooco_component_product_selection_grid .wooco_component_product_selection_grid_item {
    width: calc(100% - 20px);
  }
}

/*# sourceMappingURL=frontend.css.map */
